!m4/ax_check_openssl.m4
!m4/ax_cxx_compile_stdcxx.m4
*.la
*.lo
*.o
*~
obj*/
.dirstamp
nbproject
.deps
.libs
ChangeLog
DESIGN
INSTALL
Makefile
Makefile.in
README
README.Cygwin
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
csv2yapet/csv2yapet
doc/DESIGN.html
doc/DESIGN.sgml
doc/Doxyfile
doc/INSTALL.html
doc/INSTALL.sgml
doc/Makefile.doc
doc/Makefile.doc.in
doc/README.Cygwin.html
doc/README.Cygwin.sgml
doc/README.html
doc/README.sgml
doc/csv2yapet.1
doc/csv2yapet.html
doc/csv2yapet.sgml
doc/yapet.1
doc/yapet.html
doc/yapet.sgml
doc/yapet2csv.1
doc/yapet2csv.html
doc/yapet2csv.sgml
doc/yapet_colors.5
doc/yapet_colors.html
doc/yapet_colors.sgml
doc/yapet_config.5
doc/yapet_config.html
doc/yapet_config.sgml
libtool
m4/
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/de.gmo
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
stamp-h1
tests/preload/checkmasterpwchange
tests/preload/checktestpwrecord
tests/preload/istty
tests/testpaths.h
tests/file/testpaths.h
yapet.desktop
yapet/yapet
yapet2csv/yapet2csv
.vscode/launch.json
