m4/
!m4/ax_check_openssl.m4
!m4/ax_cxx_header_stdcxx_98.m4

autom4te.cache/
build-aux/

po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin

*~
config.h.in
configure
INSTALL
aclocal.m4
