\#*
!m4/ax_check_openssl.m4
!m4/ax_cxx_compile_stdcxx.m4
*.la
*.lo
*.o
*.gcno
*.gcda
*.log
*.trs
*.gcov
*~
obj*/
.dirstamp
nbproject
.deps
.libs
ChangeLog
DESIGN
INSTALL
Makefile
Makefile.in
README
README.Cygwin
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
csv2yapet/csv2yapet
doc/Doxyfile
doc/INSTALL.html
doc/INSTALL.adoc
doc/Makefile.doc
doc/Makefile.doc.in
doc/README.html
doc/README.adoc
doc/csv2yapet.1
doc/csv2yapet.html
doc/csv2yapet.adoc
doc/yapet.1
doc/yapet.html
doc/yapet.adoc
doc/yapet2csv.1
doc/yapet2csv.html
doc/yapet2csv.adoc
doc/yapet_colors.5
doc/yapet_colors.html
doc/yapet_colors.adoc
doc/yapet_config.5
doc/yapet_config.html
doc/yapet_config.adoc
libtool
m4/
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/de.gmo
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
stamp-h1
tests/preload/checkmasterpwchange
tests/preload/checktestpwrecord
tests/preload/istty
tests/testpaths.h
tests/file/testpaths.h
yapet.desktop
yapet/yapet
yapet2csv/yapet2csv
.vscode/launch.json
tests/cfg/testpaths.h
tests/converters/import/testpaths.h
tests/crypt/testpaths.h
src/converters/csv2yapet/csv2yapet
src/converters/yapet2csv/yapet2csv
src/yapet/yapet
tests/cfg/cfg1
tests/cfg/cfgfile1
tests/file/header10
tests/converters/csv/csvline
tests/converters/csv/csvstringfield
tests/converters/import/import
tests/converters/import/import2
tests/converters/import/test1.pet
tests/converters/import/test10.pet
tests/converters/import/test2.pet
tests/converters/import/test3.pet
tests/converters/import/test4.pet
tests/converters/import/test5.pet
tests/converters/import/test6.pet
tests/converters/import/test7.pet
tests/converters/import/test8.pet
tests/converters/import/test9.pet
tests/crypt/aes256
tests/crypt/aes256factory
tests/crypt/blowfish
tests/crypt/blowfishfactory
tests/crypt/corrupt_aes256.pet
tests/crypt/corrupt_blowfish.pet
tests/crypt/cryptofactoryhelper
tests/crypt/cryptofactoryhelper-1.0.pet
tests/crypt/cryptofactoryhelper-2.0.pet
tests/crypt/cryptofactoryhelper-tooshort.pet
tests/crypt/cryptofactoryhelper-unknown.pet
tests/crypt/f32be0.5.pet
tests/crypt/f32be0.6.pet
tests/crypt/f32le0.5.pet
tests/crypt/f32le0.6.pet
tests/crypt/f64be0.5.pet
tests/crypt/f64be0.6.pet
tests/crypt/f64le0.5.pet
tests/crypt/f64le0.6.pet
tests/crypt/file_aes256
tests/crypt/file_blowfish
tests/crypt/foreign
tests/crypt/key256
tests/crypt/key448
tests/crypt/testfile_aes256.gps.bak
tests/crypt/testfile_blowfish.gps.bak
tests/file/fileutils
tests/file/headerversion
tests/file/ods
tests/file/rawfile
tests/file/yapet10file
tests/file/yapet10file-corrupt-identifier.pet
tests/file/yapet20file
tests/file/yapet20file-corrupt-identifier.pet
tests/file/yapetfile
tests/passwordrecord/passwordlistitem
tests/passwordrecord/passwordrecord
tests/pwgen/charpool1
tests/pwgen/charpool2
tests/pwgen/pwgen1
tests/pwgen/rng1
tests/utils/securearray
tests/utils/utils
NEWS
doc/INSTALL.adoc
doc/NEWS.adoc
doc/NEWS.html
doc/README.adoc
doc/yapet.adoc
config.sub
compile
config.guess
depcomp
install-sh
missing
test-driver

# Idea IDE
.idea
*.iml
build/