# Comment
locktimeout = 23
checkfsecurity = no
pwinputtimeout=24
allowlockquit=disabled
load=//test/with space/test2.pet
pwgen_pwlen = 19
pwgen_letters = no
pwgen_digits = yes 
pwgen_rng= rand 
pwgen_punct = disable
pwgen_special = enable  
pwgen_other = false
# Comment
